/* arquivo css principal */
/* define o estilo do body, seu gradiente e a fonte a ser usada */
body {
  background: rgb(252, 139, 181);
  background: linear-gradient(
    90deg,
    rgba(252, 139, 181, 1) 67%,
    rgba(178, 92, 195, 1) 96%
  );
}

/* define o estilo do botão de tema*/
.tema {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* define o estilo dos componentes do site, container, links, cabeçalho, perfil... */
.container {
  margin: 64px;
  background: #ffffff36;
  color: #000000;
  border-radius: 20px;
  padding: 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.topo-pagina {
  display: flex;
  justify-content: center;
}

.conteudo-principal {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 8px 32px;
  width: auto;
}

.home-link {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

.home-link:hover {
  color: #000000;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  max-width: 160px;
  border-radius: 460px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: normal;
  font-size: 24px;
}

/* define o estilo dos botões */
button {
  background: #ffffff36;
  align-self: flex-end;
  font-size: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #000000;
  cursor: pointer;
}

button:hover {
  background: #33343981;
  color: #ffffff;
  border-radius: 100px;
  border: 2px solid;
  border-color: #ffffff;
}

/* define o estilo dos links */
.links {
  flex: 1;
  max-width: 500px;
  min-width: 300px;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  padding: auto;
  background: radial-gradient(
    circle,
    rgba(252, 145, 184, 1) 9%,
    rgba(218, 107, 241, 1) 100%
  );
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  height: auto;
  width: auto;
}

.links-internos-home {
  justify-content: space-between;
  gap: 20px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.coluna-gif {
  padding: 20px;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coluna-gif img {
  max-width: 100%;
  height: auto;
}

/* define o estilo dos links */
a {
  text-decoration: none;
  color: #1c1c1c;
  cursor: pointer;
}

a:hover {
  color: #000000;
}

/* define o estilo dos componentes do site no modo dark */
.dark {
  background: rgb(111, 41, 126);
  background: linear-gradient(
    90deg,
    rgba(111, 41, 126, 1) 46%,
    rgba(226, 118, 157, 1) 86%
  );
}

.dark .container {
  background: #33343981;
  color: #f6f6f6;
}

.dark button {
  color: #ffffff;
  background: #33343981;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #f7f7f7;
}

.dark button:hover {
  background: #ffffff36;
  color: #000000;
  border-radius: 100px;
  border: 2px solid;
  border-color: #000000;
}

.dark .links {
  background: rgb(140, 54, 158);
  background: radial-gradient(
    circle,
    rgba(140, 54, 158, 1) 9%,
    rgba(254, 139, 181, 1) 100%
  );
}

.dark a {
  color: #cccaca;
}

.dark a:hover {
  color: #ffffff;
}

/* configurações para telas pequenas */
@media screen and (max-width: 768px) {
  .container {
    margin: 32px;
    padding: 32px;
  }

  .cabecalho {
    flex-direction: column;
    align-items: center;
  }

  .perfil {
    flex-direction: column;
    align-items: center;
  }

  .perfil-foto {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .titulo {
    text-align: center;
  }

  .titulo h1 {
    font-size: 28px;
  }

  .titulo h3 {
    font-size: 20px;
  }

  .links h1 {
    font-size: 20px;
  }

  .topo-pagina {
    display: none;
  }
}

/* configurações para telas ainda mais pequenas */
@media screen and (max-width: 480px) {
  .container {
    margin: 16px;
    padding: 16px;
  }

  .titulo h1 {
    font-size: 24px;
  }

  .titulo h3 {
    font-size: 18px;
  }

  .links h1 {
    font-size: 18px;
  }

  .links {
    gap: 10px;
  }
}

/* define o estilo do menu flutuante ( apenas para telas pequenas)*/
.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 1, 24, 0.705);
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu.open {
  display: flex;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 20px;
}

.menu-toggle {
  display: block;
  position: fixed;
  top: 30px;
  left: 30px;
  padding: 10px 20px;
  font-size: 16px;
  z-index: 1000;
}

@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .menu {
    display: none;
  }

  .topo-pagina {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .conteudo {
    padding: 20px;
    flex: 2;
  }
}

/* estilo do rodapé */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

footer p {
  margin: 5px 0; /* Adiciona espaçamento vertical entre os parágrafos */
}

.link-footer {
  color: #fc0a97e5;
}

.link-footer:hover {
  color: #fd34a971;
}

.dark .link-footer {
  color: #2e004d;
}

.dark .link-footer:hover {
  color: #55018df3;
}

.linha-rodape {
  border: 0;
  height: 1px;
  background: #333;
  margin: 20px 0;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}

.dark .linha-rodape {
  background: #f6f6f6;
}
.dark footer {
  color: #f6f6f6;
}
