/* arquivo do estilo da página de projetos */
/* define o estilo das divs de projetos, projeto e os tamanhos das imagens */
.tema {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 8px 32px;
  background: radial-gradient(
    circle,
    rgba(252, 145, 184, 0.61) 9%,
    rgba(219, 107, 241, 0.445) 100%
  );
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  grid-auto-flow: dense;
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background: rgba(248, 230, 230, 0.384);
}

.projeto h3 {
  font-size: 1.5em;
}

.projeto img {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 5px 0;
}

.projeto p,
.projeto h5 {
  margin: 10px 0;
}

.projeto img + img {
  margin-left: 10px;
}

.projeto .ano-semestre {
  margin: 10px 0;
}

.projeto .imagens-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.projeto .imagens-container img {
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.project-link {
  color: rgb(129, 15, 151);
}

.project-link {
  color: rgb(240, 74, 124);
}
.project-link:hover {
  color: rgb(182, 0, 55);
}

.dark .project-link {
  color: rgb(169, 87, 202);
}

.dark .project-link:hover {
  color: rgb(158, 56, 153);
}

.dark .projetos {
  background: radial-gradient(
    circle,
    rgba(252, 145, 184, 0.438) 9%,
    rgba(219, 107, 241, 0.151) 100%
  );
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
  .projetos {
    grid-template-columns: 1fr;
    padding: 8px 16px;
  }

  .projeto {
    padding: 8px;
    margin-bottom: 20px;
  }

  .perfil {
    flex-direction: column;
    align-items: center;
  }

  .perfil-foto {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .titulo h1 {
    font-size: 24px;
    text-align: center;
  }

  .titulo h3 {
    font-size: 18px;
    text-align: center;
  }

  .links h1 {
    font-size: 18px;
  }

  .gif iframe {
    width: 100%;
    height: auto;
  }
}

/* para telas ainda menores */
@media screen and (max-width: 480px) {
  .projetos {
    grid-template-columns: 1fr;
  }

  .perfil {
    align-items: center;
  }

  .titulo h1 {
    font-size: 20px;
    text-align: center;
  }

  .titulo h3 {
    font-size: 16px;
    text-align: center;
  }

  .links h1 {
    font-size: 16px;
  }
}
