/* arquivo css que define o estilo do formulário da página de contato */
.contatos-link {
  color: rgb(240, 74, 124);
}

.contatos-link:hover {
  color: rgb(182, 0, 55);
}

.dark .contatos-link {
  color: rgb(169, 87, 202);
}

.dark .contatos-link:hover {
  color: rgb(158, 56, 153);
}
