/* arquivo css que define o estilo do formulário da página de contato */
.redes-link {
  color: rgb(240, 74, 124);
}

.redes-link:hover {
  color: rgb(182, 0, 55);
}

.dark .redes-link {
  color: rgb(169, 87, 202);
}

.dark .redes-link:hover {
  color: rgb(158, 56, 153);
}
